{
  email {EMAIL}
}
*.jenspot.com {
  tls {
    dns cloudflare {CLOUDFLARE API TOKEN}
  }

  @links host links.jenspot.com
  handle @links {
    reverse_proxy 192.168.0.16:80
  }

  @blog host blog.jenspot.com
  handle @blog {
    reverse_proxy 192.168.0.11:80
  }

  @status host status.jenspot.com
  handle @status {
    reverse_proxy 192.168.0.10:3000
  }

  @lmao host lmao.jenspot.com
  handle @lmao {
    reverse_proxy 192.168.0.14:80
  }
  
  @nextcloud host cloud.jenspot.com
  handle @nextcloud { 
    reverse_proxy 192.168.0.17:80
  }

  @www host www.jenspot.com
  handle @www {
    redir https://jenspot.com permanent
  }
  
  handle {
    abort
  }

}

jenspot.com {
  reverse_proxy 192.168.0.9:80
}
